.box-item{
    height: 8vh;
    width: 8vw;
    box-shadow: rgba(240, 240, 247, 0.25) 0px 30px 60px -12px, rgba(245, 243, 243, 0.3) 0px 18px 36px -18px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    

    h2{
        text-align: center;
        font-size: 3vw;
        box-shadow: rgba(240, 240, 247, 0.25) 0px 30px 60px -12px, rgba(245, 243, 243, 0.3) 0px 18px 36px -18px;
    }
    
}

.box-item:hover{
    cursor: pointer;
};

.grid-boxes{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10vw);
    grid-template-rows: auto;
    gap: 1rem;
    overflow: hidden;
}

html,body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.pixabay.com/photo/2022/03/27/03/16/islamic-7093979_1280.jpg');
}

.main{
    background-size: cover;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.title{
    color: aliceblue;
    margin-top: 2rem;
}

@media only screen and (width: 820px) and (height: 1106px) {
    .box-item{
        height: 5vh;
        width: 8vw;
    }
}
@media only screen and (width: 1180px) and (height: 746px) {}
@media only screen 
    and (max-width: 400px){

        .grid-boxes{
            width: 80vw;
            margin: auto;
            grid-template-columns: repeat(auto-fit, 4rem);
        }
        .box-item{
            height: 4rem;
            width: 4rem;

            h2{
                font-size: 2rem;
            }
        }
     }
@media only screen 
    and (min-width:400px) and (max-width: 600px) {

        .grid-boxes{
            width: 80vw;
            margin: auto;
            grid-template-columns: repeat(auto-fit, 6rem);
        }
        .box-item{
            height: 5rem;
            width: 5rem;

            h2{
                font-size: 3rem;
            }
        }
     }